<tr>
	<td><%= link_to(match_participation.player.name, match_participation.player) %>
	<% if(defined? @awards) != nil && @awards[match_participation.id] != nil%>
		<% @awards[match_participation.id].each do |a| %>
			<%= image_tag("crown-icon.png", :title => a[:text], :align => "right") %>
		<% end %>
	<% end %>
</td>
	<td style="width:10px;padding:0"><%= image_tag(match_participation.hero.image_name, :title => match_participation.hero.name) %></td>
	<td><%= match_participation.kills %></td>
	<td><%= match_participation.deaths %></td>
	<td><%= match_participation.assists %></td>
	<td><%= match_participation.tfc.round(2) %></td>
	<td><%= match_participation.gpm %></td>
	<td><%= match_participation.herodamage %></td>
	<td><%= match_participation.towerdamage %></td>
</tr>
