<tr>
	<td><%= link_to(match_participation.player.name, match_participation.player) %></td>
	<td><%= match_participation.hero.name %></td>
	<td><%= match_participation.kills %></td>
	<td><%= match_participation.deaths %></td>
	<td><%= match_participation.assists %></td>
	<td><%= match_participation.tfc.round(2) %></td>
	<td><%= match_participation.gpm %></td>
	<td><%= match_participation.herodamage %></td>
	<td><%= match_participation.towerdamage %></td>
</tr>
