<tr>
	<td><%= player.name %></td>
	<td><%= (player.sum_kills / player.num_matches.to_f).round(2) %></td>
	<td><%= (player.sum_deaths / player.num_matches.to_f).round(2) %></td>
	<td><%= (player.sum_assists / player.num_matches.to_f).round(2) %></td>
	<td><%= (player.sum_tfc / player.num_matches.to_f).round(2) %></td>
	<td><%= (player.sum_gpm / player.num_matches.to_f).round(2) %></td>
	<td><%= (player.sum_herodamage / player.num_matches.to_f).round(2) %></td>
	<td><%= (player.sum_towerdamage / player.num_matches.to_f).round(2) %></td>
	<td><%= player.num_matches %></td>
</tr>
