<h1>All matches for <%= @player.name %></h1>

<h3>Player winrate: <%= @tapiwinrate.to_s + "%" %></h3>

<%= render partial: "laniheroes/laniheroes_for_player", locals: {
  player: @player,
  laniheroes: @player.laniheros
} %>
<% if session[:user_id] == @player.id %>
  <div class="well">
    <%= render "laniheroes/new" %>
  </div>
<% end %>
<%= render "matches/matches" %>
